.box-sidebar {
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    padding: 25px 25px 0;
    margin-bottom: 30px;

    
}

.border-gray-800 {
    border-color: #222f43!important;
}
.bg-gray-850 {
    background-color: #131c31;
}