.search-result {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    position: relative;
    border-radius: 16px;
    align-items: center;
    margin-top: 10px;
}

.result-info {
    text-align: left;
}