.box-sidebar {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    padding: 25px 25px 0;
    margin-bottom: 30px;

    .head-sidebar {
        position: relative;

        .line-bottom {
            padding-bottom: 10px;
            margin-bottom: 40px;
            background: linear-gradient(82.19deg,#0ea5ea 5.2%,#0bd1d1 100.36%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            &:before {
                height: 1px;
                width: 96px;
                content: "";
                background-color: #0ea5ea;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        
        }
    }

    h5 {
        font-size: 20px;
        line-height: 27px;
    }
}